<h2>Admin Dashboard</h2> <br> <br>

<div class="container">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/admin/addbike">Change Bike Make and Model</a></li>
          </ul>
        </nav>
 </div>
 <div class="container">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/admin/engineoil">Change Engine Oil</a></li>
          </ul>
        </nav>
 </div>
 <div class="container">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/admin/offers">Change Offers</a></li>
          </ul>
        </nav>
 </div>
 <div class="container">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/admin/employee">Employees</a></li>
          </ul>
        </nav>
 </div>
