<!DOCTYPE html>
<html>
<head>
<title>LiveBiking Home page</title>
</head>
<body>

<h2>User Registration</h2> <br> <br>
<form action="/" method="post">
<fieldset>
		<label for="fullName">Full Name:</label>
        <input type="text" id="name" name="fullName" placeholder="Enter your full name" /><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="emailId" placeholder="Enter your email address" /><br>

        <label for="phoneNumber">Phone Number:</label>
        <input type="number" id="phoneNumber" name="phoneNumber" placeholder="Enter your mobile number" /><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" /><br>

        <label for="referralCode">Referral code:</label>
        <input type="text" id="referralCode" name="referralCode" placeholder="Referral code(optional)" /><br>

        <input type="submit" value="Register">

	</fieldset>
</form>


<h2>User Login</h2> <br> <br>

<h2>Login with facebook</h2> <br> <br>

<h2>Login with gmail</h2> <br> <br>

<h2>Pricing</h2> <br> <br>

<h2>Offers</h2> <br> <br>

<h2>Blog</h2> <br> <br>

<h2>Ownership Transfer</h2> <br> <br>

<h2>How we do?</h2> <br> <br>

<h2>Service</h2> <br> <br>

<h2>About Us</h2> <br> <br>

<h2>Contact Us</h2> <br> <br>

<h2>Privacy policy</h2> <br> <br>

<h2>Tersms and condition</h2> <br> <br>

<h2>Face book</h2> <br> <br>

<h2>Linked in</h2> <br> <br>

<h2>Twitter</h2> <br> <br>

<h2>g+</h2> <br> <br>




</body>
</html>